:root {
	--backColor: #ffffea;
	--frontColor: #722f37;
	--textColor: #4B5267;
}
@font-face {
	font-family: "kjv";
	src: url("/KJV1611.woff2") format("woff2");
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'EB Garamond';
	src: url('EBGaramondF.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: "EB Garamond",Garamond, Georgia;
	background-color: var(--backColor);
	padding-left: 5vw;
	padding-right: 5vw;
}
.container{
	display: grid;
	grid-template-areas:
	"header header header"
	"sidebar content sidebar2";
	grid-template-columns: 0.5fr 3fr 0.5fr;
	grid-auto-rows: 0.5fr 3fr;"
	width: 100vw;
}
header{
	grid-area: header;
}
aside{
	font-size: 24px;
	color: var(--frontColor);
	margin: auto;
}
aside .flechaDer{
	grid-area: sidebar;
}
aside .flechaIzq{
	grid-area: sidebar2;
}
aside a
{
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	padding-top: 10vh;
	padding-right: 2ch;
	padding-left: 2ch;
}
.flechaIzq a:focus,
.flechaDer a:focus{
	border: 2px solid var(--frontColor);
	outline: none;
}
#main {
	padding-top: 2ch;
	text-align: center;
}
h1 {
	cursor: pointer;
	margin-bottom: 0;
	color: var(--frontColor);
	font-family: "kjv";
	font-weight: normal;
}
h2 {
	text-align: center;
	color: var(--frontColor);
	font-size: 24px;
	line-height: 1.2;
}
hr{
	color: var(--frontColor);
	border-color: var(--frontColor);
}
a:visited{
	color: var(--frontColor);
}
article{
	font-size: 16px; 
	text-align: center;
	line-height: 1.5;
}
article a{
	font-size: 24px;
	font-weight: bold;
	color: var(--frontColor);
}
article .dias{
	line-height: 1;
	font-size: 16px;
	margin: 0px;	
	color: var(--textColor);
}
a:focus {
	border: 2px solid var(--frontColor);
	padding: 0.5px;
	outline: none;
}
.texto{
	color: var(--textColor);
}
.cruz{
	text-align: center;
	font-size: 2rem;
	color: var(--frontColor);
	font-weight: normal;
}